<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
</head>
<body>

<form th:action="@{/insert}" method="post">
  用户名：<input type="text" name="username"><br>
  密码：<input type="password" name="password"><br>
  <input id="btn" type="submit" value="提交">
</form>

<h1 id="msg" th:text="${msg}"></h1>
</body>
<script th:src="@{../static/js/jquery-3.6.0.min.js}"></script>

<script type="text/javascript">
    $('#btn').click(function () {
        $.ajax({
            url:"insert",
            data:'',
            type:'post',
            success:function (msg) {

                
            }
        })
    })
</script>
</html>